*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-align: center;
}

html,body{
    height: 100%;
    width: 100%;
}

h1{
    height: 5rem;
    background-color: #081b31;
    color: #fff;
    line-height: 5rem
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.choice{
    height: 165px;
    width: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}

.choice:hover{ 
    background-color: #081b31;
    cursor: pointer;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 75px;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: 2rem;
    margin-top: 1rem;
}

#user-score, #comp-score {
    font-size: 4rem;
}

.msg-container{
    margin-top: 1.5rem;
}

#msg{
    background-color: #081b31;
    color: #fff;
    display: inline;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
}
