*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.cards{
    height: 175px;
    width:  130px;
    border: 2px transparent black;
    border-radius: 19px;
    margin: 5px;
    overflow: hidden;
    /* padding: 20px; */
}

.cards img{
    height: 100%;
    width:  100%;
    object-fit: cover;
    display: block;
}